<footer class="gh-footer">
    <div class="gh-main-block gh-footer__main-block">
        <div class="gh-footer__logo-container">
            <div class="gh-footer__logo">
                <svg width="156" height="50" viewBox="0 0 156 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.158 49.9685C16.7064 49.8695 16.4342 49.5973 16.4342 49.2509C16.4342 49.1395 16.5641 48.7251 16.7188 48.3291C17.3807 46.6465 17.8385 44.568 18.055 42.3101C18.2591 40.0893 18.3581 36.4704 18.2468 35.1466C17.9622 31.7566 16.8487 29.078 14.7083 26.5974C14.0959 25.8921 13.7371 25.5395 12.3081 24.2466C11.7513 23.7394 11.2193 23.2197 11.1204 23.0837C10.9162 22.7991 10.8915 22.5455 11.0523 22.4032C11.3554 22.1248 11.8565 22.3846 13.7062 23.7703C16.1559 25.6076 17.9436 26.7396 18.8283 27.018C19.4097 27.2036 20.381 27.1974 20.9501 27.018C21.7728 26.7458 23.8081 25.4467 25.9856 23.8012C27.4393 22.7063 28.2806 22.199 28.5466 22.2609C28.757 22.3166 28.9054 22.6259 28.8126 22.8115C28.6518 23.1022 28.2559 23.5105 27.328 24.3394C26.1093 25.4282 25.0082 26.5664 24.4514 27.3149C22.9482 29.3254 21.9275 31.6823 21.5254 34.0516C21.2903 35.4064 21.2408 36.6127 21.3213 38.7407C21.4945 43.1143 21.9522 45.9228 22.8863 48.2673C23.1338 48.8921 23.1956 49.1024 23.1709 49.2942C23.1214 49.6344 22.8492 49.8942 22.4657 49.9561C22.1626 50.0056 17.3807 50.018 17.158 49.9685Z"
                          fill="#EF9665"/>
                    <path d="M12.8871 32.9313C11.0189 32.7396 8.81662 31.9415 7.22679 30.8837C5.28435 29.5908 3.72545 27.7783 2.73568 25.6626C2.43874 25.0317 1.90674 23.5037 1.90674 23.2872C1.90674 23.0954 2.09232 23.0397 2.95838 22.9779C3.82443 22.9098 5.01216 22.9717 5.89678 23.1263C10.5054 23.9429 14.3099 27.2215 15.7574 31.6199C16.0667 32.5602 16.0853 32.6468 15.9925 32.7705C15.844 32.9684 14.1119 33.0612 12.8871 32.9313Z"
                          fill="#EF9665"/>
                    <path d="M24.2417 32.9323C23.6107 32.8581 23.5736 32.8086 23.7159 32.2766C24.0933 30.8476 24.8851 29.2454 25.8687 27.9339C28.0029 25.0883 31.4114 23.2572 35.086 22.9789C35.8902 22.917 37.3563 22.9727 37.6161 23.0716C37.7893 23.1397 37.7955 23.2882 37.6594 23.7707C36.9975 26.1461 35.5252 28.4164 33.6199 30.0125C31.0341 32.1838 27.4461 33.3035 24.2417 32.9323Z"
                          fill="#EF9665"/>
                    <path d="M19.1914 26.1957C18.7522 26.0224 18.2883 25.5894 18.0779 25.1564C17.8367 24.6615 17.8305 23.9687 18.0656 23.4738C18.2821 23.0284 18.6223 22.6943 19.1048 22.4654C20.0884 22.0015 21.2143 22.4221 21.7216 23.4614C21.8886 23.8016 21.9195 23.9315 21.9195 24.3027C21.9195 25.0636 21.5236 25.7008 20.8369 26.0719C20.3235 26.3441 19.6925 26.3874 19.1914 26.1957Z"
                          fill="#EF9665"/>
                    <path d="M7.22942 22.194C6.69123 22.1383 6.15922 22.0332 5.5901 21.8599C3.01668 21.0743 1.01238 19.0762 0.183445 16.4657C-0.101116 15.5687 -0.132046 15.6182 0.659775 15.6182C4.14255 15.6182 7.24798 17.8947 8.38004 21.2785C8.61511 21.9899 8.63367 22.1445 8.49139 22.2002C8.39241 22.2373 7.62533 22.2373 7.22942 22.194Z"
                          fill="#EF9665"/>
                    <path d="M31.161 22.1924C31.0682 22.1676 31.0744 22.1181 31.2105 21.6171C31.7982 19.4086 33.3509 17.5219 35.417 16.4888C36.6171 15.8887 37.5265 15.666 38.7823 15.6536L39.6793 15.6475L39.6607 15.8578C39.636 16.1918 39.3081 17.1136 38.9926 17.7384C37.7801 20.1695 35.3428 21.8583 32.6024 22.1738C32.0704 22.2357 31.3528 22.248 31.161 22.1924Z"
                          fill="#EF9665"/>
                    <path d="M13.8514 19.3592C10.0408 18.7962 6.71883 16.6064 4.75783 13.3587C3.79899 11.7688 3.1247 9.75215 2.97624 7.98292C2.93293 7.52515 2.94531 7.4138 3.02572 7.30864C3.1247 7.1911 3.13707 7.1911 3.94127 7.29008C5.28365 7.46329 6.40334 7.7726 7.59107 8.3046C10.6903 9.69029 13.1338 12.2946 14.3154 15.4557C14.8597 16.9218 15.2557 19.1365 15.0144 19.3777C14.9216 19.4705 14.5443 19.4643 13.8514 19.3592Z"
                          fill="#EF9665"/>
                    <path d="M24.6768 19.3596C24.5036 19.1554 24.7077 17.6522 25.0727 16.3779C26.477 11.497 30.6402 7.95238 35.7314 7.29665C36.7645 7.16056 36.7706 7.16674 36.7212 7.87815C36.5603 10.0928 35.7128 12.3321 34.29 14.3241C33.8446 14.9489 32.7373 16.1119 32.1063 16.6191C30.2814 18.0914 28.1225 19.0379 25.8336 19.3596C25.0232 19.4771 24.7758 19.4771 24.6768 19.3596Z"
                          fill="#EF9665"/>
                    <path d="M19.7197 18.636C19.3732 18.2648 18.7546 17.4482 18.4391 16.941C17.4432 15.3449 16.7936 13.5077 16.5647 11.6395C16.4472 10.6559 16.5214 8.7753 16.7256 7.82264C17.0534 6.24518 17.703 4.64917 18.5196 3.39339C18.9773 2.68817 19.7135 1.76025 19.8186 1.76025C19.998 1.76025 20.895 2.87375 21.458 3.80167C23.1839 6.63491 23.7406 10.1053 22.9736 13.2479C22.6209 14.7078 21.9961 16.1244 21.161 17.3802C20.6661 18.1163 20.0785 18.8339 19.9671 18.8339C19.93 18.8339 19.8186 18.7411 19.7197 18.636Z"
                          fill="#EF9665"/>
                    <path d="M13.3266 9.64757C11.211 8.44746 9.7201 6.32563 9.29945 3.90686C9.14479 3.02843 9.20665 1.56233 9.42935 0.708645C9.52215 0.349851 9.61494 0.0343598 9.64587 0.0096154C9.67061 -0.0213151 9.8995 0.0714765 10.1469 0.213757C12.1389 1.34581 13.5431 3.18927 14.0875 5.41009C14.2793 6.18954 14.3535 7.14838 14.2854 7.90309C14.2298 8.49695 13.9514 9.77748 13.8586 9.87645C13.8339 9.9012 13.5988 9.79603 13.3266 9.64757Z"
                          fill="#EF9665"/>
                    <path d="M25.7817 9.75864C25.6394 9.38748 25.4229 8.29254 25.3858 7.71723C25.2868 6.32535 25.6951 4.58706 26.4188 3.33747C27.1859 1.99508 28.1757 0.999117 29.4872 0.244412C29.9078 -0.00303184 30.013 -0.0401485 30.0563 0.0340848C30.0872 0.0835737 30.1924 0.429996 30.2852 0.801162C30.4398 1.41359 30.4522 1.59298 30.4584 2.5642C30.4584 3.72719 30.3841 4.25301 30.081 5.16237C29.4562 7.02438 28.0334 8.72556 26.3013 9.68441L25.8497 9.93185L25.7817 9.75864Z"
                          fill="#EF9665"/>
                    <path d="M150.03 22.0332C148.937 22.0332 148.084 22.4323 146.788 23.0503V22.6783C146.763 22.3495 146.561 22.1978 146.257 22.1978H143.824C143.495 22.1978 143.318 22.3748 143.318 22.7035V37.3388C143.318 37.6675 143.495 37.8445 143.824 37.8445L146.485 37.8193C146.813 37.8193 146.99 37.6423 146.99 37.3135V33.0058C148.192 33.6813 148.965 33.9077 150.279 33.9077C153.516 33.9077 155.929 31.4276 155.929 27.9886C155.929 24.5495 153.267 22.0332 150.03 22.0332ZM149.639 30.9487C147.823 30.9487 146.891 29.3541 146.891 27.9886C146.891 26.5725 147.754 25.0536 149.639 25.0536C151.366 25.0536 152.298 26.5274 152.298 27.9886C152.298 29.4497 151.385 30.9487 149.639 30.9487Z"
                          fill="#EF9665"/>
                    <path d="M137.555 34.0115H140.277C140.605 34.0115 140.782 33.8345 140.782 33.5058V18.6906C140.782 18.3618 140.605 18.1848 140.277 18.1848H137.555C137.226 18.1848 137.049 18.3618 137.049 18.6906V33.5058C137.049 33.8345 137.226 34.0115 137.555 34.0115Z"
                          fill="#EF9665"/>
                    <path d="M135.29 28.2929C135.29 24.4946 132.989 22.1228 129.322 22.1228C125.732 22.1228 123.152 24.778 123.152 28.1664C123.152 31.5549 125.925 34.0127 129.642 34.0127C132.045 34.0127 133.449 33.1167 134.183 32.5351C134.435 32.3328 134.457 31.9896 134.305 31.7368L132.954 30.2899C132.777 29.9864 132.365 30.1221 132.087 30.3244C131.607 30.6784 131.05 31.0613 129.811 31.0613C127.934 31.0613 127.309 30.1641 126.879 29.2285H134.759C135.063 29.2285 135.214 29.0515 135.265 28.748C135.29 28.571 135.29 28.4446 135.29 28.2929ZM129.397 24.9782C130.778 24.9782 131.574 25.8906 131.776 26.7251L131.801 26.8972H126.879C127.233 25.7845 128.015 24.9782 129.397 24.9782Z"
                          fill="#EF9665"/>
                    <path d="M120.695 18.9905H117.822C117.494 18.9905 117.317 19.1675 117.317 19.4962V24.7622H111.252V19.4962C111.252 19.1675 111.075 18.9905 110.747 18.9905H107.874C107.546 18.9905 107.369 19.1675 107.369 19.4962V33.5055C107.369 33.8342 107.546 34.0112 107.874 34.0112H110.747C111.075 34.0112 111.252 33.8342 111.252 33.5055V28.0863H117.317V33.5055C117.317 33.8342 117.494 34.0112 117.822 34.0112H120.695C121.023 34.0112 121.2 33.8342 121.2 33.5055V19.4962C121.2 19.1675 121.023 18.9905 120.695 18.9905Z"
                          fill="#EF9665"/>
                    <path d="M104.155 18.0005L101.464 18.0005C101.135 18.0005 100.958 18.1775 100.958 18.5063V22.9851C99.972 22.371 98.9172 21.9882 97.6022 21.9882C94.3655 21.9882 92.0391 24.5928 92.0391 28.0319C92.0391 31.6434 94.4747 34.0114 97.7115 34.0114C99.2793 34.0114 99.8838 33.7427 101.116 32.9598V33.3675C101.141 33.6962 101.343 33.8479 101.647 33.8479L104.155 33.8479C104.484 33.8479 104.661 33.6709 104.661 33.3421V18.5062C104.661 18.1775 104.484 18.0005 104.155 18.0005ZM98.5126 30.991C96.7422 30.991 95.7081 29.6208 95.7081 28.0319C95.7081 26.0708 97.0374 25.119 98.5126 25.119C100.072 25.119 101.066 26.6664 101.066 28.0319C101.066 29.4479 100.283 30.991 98.5126 30.991Z"
                          fill="#202020"/>
                    <path d="M62.6499 25.9304H60.1818C59.9028 25.9304 59.7526 26.0806 59.7526 26.3596V30.2443C59.1302 30.5663 58.379 30.7165 57.5206 30.7165C54.9667 30.7165 52.7398 28.8707 52.7398 26.1879C52.7398 23.5266 54.795 21.8525 57.4991 21.8525C59.0443 21.8525 60.1831 22.9606 60.784 23.2396C61.0201 23.3469 61.2407 23.2396 61.4441 23.0669C61.4441 23.0669 62.5955 22.0959 63.129 21.4435C63.4624 21.0357 62.6493 20.5109 62.3921 20.3075C62.135 20.1041 60.0316 18.4614 57.3918 18.4614C52.4986 18.4614 48.9287 21.874 48.9287 26.1879C48.9287 30.5234 52.1526 34.0088 56.8732 34.0088C60.0066 34.0088 62.1777 32.8198 62.843 32.2618C63.0147 32.133 63.0791 31.9613 63.0791 31.7253V26.3596C63.0791 26.0806 62.9289 25.9304 62.6499 25.9304Z"
                          fill="#202020"/>
                    <path d="M71.1638 34.0099C74.704 34.0099 77.5361 31.4053 77.5361 27.9662C77.5361 24.5272 74.704 21.9226 71.1638 21.9226C67.5983 21.9226 64.7661 24.5272 64.7661 27.9662C64.7661 31.4053 67.5983 34.0099 71.1638 34.0099ZM71.1638 30.8266C69.4749 30.8266 68.4774 29.4804 68.4774 27.9662C68.4774 26.4549 69.4749 25.1158 71.1638 25.1158C72.8526 25.1158 73.8133 26.4549 73.8159 27.9662C73.8185 29.4804 72.8526 30.8266 71.1638 30.8266Z"
                          fill="#202020"/>
                    <path d="M84.7746 34.0099C88.3148 34.0099 91.1469 31.4053 91.1469 27.9662C91.1469 24.5272 88.3148 21.9226 84.7746 21.9226C81.2091 21.9226 78.377 24.5272 78.377 27.9662C78.377 31.4053 81.2091 34.0099 84.7746 34.0099ZM84.7746 30.8266C83.0858 30.8266 82.0882 29.4804 82.0882 27.9662C82.0882 26.4549 83.0858 25.1158 84.7746 25.1158C86.4634 25.1158 87.4242 26.4549 87.4268 27.9662C87.4294 29.4804 86.4634 30.8266 84.7746 30.8266Z"
                          fill="#202020"/>
                </svg>
            </div>
            <div class="gh-footer__logo-description">
                {{ 'Help_with_worries'|trans|raw }}
            </div>
        </div>
        <div class="gh-footer__block gh-footer__pages">
            <div class="gh-footer__block-header">
                {{ 'Pages'|trans }}
            </div>
            <div class="gh-footer__block-section">
                <div class="gh-footer__block-section-list">
{#                    <a href="" class="gh-footer__block-section-list-item">#}
{#                        Про нас#}
{#                    </a>#}
                    <a href="{{ url(constant('\\App\\Landing\\Service\\RouteNames::PSIHOLOG_LIST')) }}" class="gh-footer__block-section-list-item">
                        {{ 'our_specialists'|trans }}
                    </a>
                    <a href="{{ url(constant('\\App\\Landing\\Service\\RouteNames::CONSULTATION_CONDITIONS')) }}" class="gh-footer__block-section-list-item">
                        {{ 'Consultation_conditions'|trans }}
                    </a>
                    <a href="{{ url(constant('\\App\\User\\Service\\RouteNames::LOGIN')) }}" class="gh-footer__block-section-list-item">
                        {{ 'landing.header.user_login'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="gh-footer__block gh-footer__other">
            <div class="gh-footer__block-header">
                {{ 'Other'|trans }}
            </div>
            <div class="gh-footer__block-section">
                <div class="gh-footer__block-section-list">
{#                    <a href="" class="gh-footer__block-section-list-item">#}
{#                        Про консультації#}
{#                    </a>#}
                    <a href="{{ url(constant('\\App\\Landing\\Service\\RouteNames::TERMS_OF_USE')) }}" class="gh-footer__block-section-list-item">
                        {{ 'Terms'|trans }}
                    </a>
                    <a href="{{ url(constant('\\App\\Landing\\Service\\RouteNames::PRIVACY')) }}" class="gh-footer__block-section-list-item">
                        {{ 'Privacy_policy'|trans }}
                    </a>
                    <a href="{{ url(constant('\\App\\Landing\\Service\\RouteNames::REFUND_POLICY')) }}" class="gh-footer__block-section-list-item">
                        {{ 'Refund'|trans }}
                    </a>
                    <a href="{{ url(constant('\\App\\Landing\\Service\\RouteNames::FAMILY_PSIHOLOG')) }}"
                        class="gh-footer__block-section-list-item">
                        {{ 'family_psiholog'|trans }}

                    </a>
                    <a href="{{ url(constant('\\App\\Landing\\Service\\RouteNames::TEENAGE_PSIHOLOG')) }}"
                       class="gh-footer__block-section-list-item">
                        {{ 'teenage_psiholog'|trans }}

                    </a>
                </div>
            </div>
        </div>
        <div class="gh-footer__block gh-footer__contacts">
            <div class="gh-footer__block-header">
                {{ 'Contacts'|trans }}
            </div>
            <div class="gh-footer__block-section">
                <div class="gh-footer__block-section-subheader">
                    {{ 'Write_us'|trans }}:
                </div>
                <div class="gh-footer__social-icons-row">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_1076)">
                            <path d="M19.8238 3.97339L13.7582 9.99991L19.8238 16.0264C19.9335 15.7973 20 15.5439 20 15.2733V4.72647C20 4.45589 19.9335 4.20257 19.8238 3.97339Z"
                                  fill="#EF9665"/>
                            <path d="M18.2422 2.96875H1.75779C1.4872 2.96875 1.23388 3.03527 1.0047 3.14492L8.75716 10.8583C9.44263 11.5438 10.5573 11.5438 11.2428 10.8583L18.9952 3.14492C18.7661 3.03527 18.5127 2.96875 18.2422 2.96875Z"
                                  fill="#EF9665"/>
                            <path d="M0.176172 3.97339C0.0665234 4.20257 0 4.45589 0 4.72647V15.2733C0 15.5439 0.0665234 15.7973 0.176172 16.0264L6.24176 9.99991L0.176172 3.97339Z"
                                  fill="#EF9665"/>
                            <path d="M12.9297 10.8286L12.0713 11.6869C10.9292 12.8291 9.07072 12.8291 7.92857 11.6869L7.07029 10.8286L1.0047 16.8551C1.23388 16.9648 1.4872 17.0313 1.75779 17.0313H18.2422C18.5127 17.0313 18.7661 16.9648 18.9952 16.8551L12.9297 10.8286Z"
                                  fill="#EF9665"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_1_1076">
                                <rect width="20" height="20" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    <span>
                        goodhelpua@gmail.com
                    </span>
                </div>
                <div class="gh-footer__social-icons-row">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_1091)">
                            <path d="M20 12.9688C20 10.9214 18.5063 9.19501 16.4439 8.55811C16.114 11.7766 13.5585 14.4309 10.1517 15.3101C11.0666 16.7303 12.7817 17.6563 14.7266 17.6563C15.435 17.6563 16.1227 17.5315 16.7751 17.2855L19.7054 18.7498L18.9592 15.7639C19.6327 14.959 20 13.9776 20 12.9688Z"
                                  fill="#EF9665"/>
                            <path d="M7.61719 1.25C3.41721 1.25 0 4.21112 0 7.85156C0 9.31229 0.56076 10.732 1.58676 11.8839L0.583038 15.8098L4.52789 13.8814C5.5098 14.2609 6.5477 14.4531 7.61719 14.4531C11.8172 14.4531 15.2344 11.4919 15.2344 7.85156C15.2344 4.21127 11.8172 1.25 7.61719 1.25ZM5.85938 8.28125H4.6875V7.10938H5.85938V8.28125ZM8.20312 8.28125H7.03125V7.10938H8.20312V8.28125ZM10.5469 8.28125H9.375V7.10938H10.5469V8.28125Z"
                                  fill="#EF9665"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_1_1091">
                                <rect width="20" height="20" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    <span>
                        {{ 'Messengers'|trans }}
                    </span>

                    <a href="https://t.me/GoodHelpUA">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z"
                                  fill="#47B0D3"/>
                            <path d="M14.854 4.25981C14.7569 4.19379 14.6323 4.18379 14.5259 4.23328L3.78036 9.23555C3.59157 9.32348 3.47228 9.51571 3.477 9.72387C3.48157 9.92801 3.60513 10.1114 3.79204 10.1932L13.6988 14.5079C14.0296 14.6583 14.4191 14.4216 14.4403 14.0606L14.9995 4.55504C15.0063 4.43793 14.9511 4.32574 14.854 4.25981Z"
                                  fill="#E5E5E5"/>
                            <path d="M6.70438 11.4617L7.37395 15.9375L14.8113 4.2356L6.70438 11.4617Z" fill="#CCCCCC"/>
                            <path d="M14.526 4.23338L3.78037 9.23564C3.59534 9.32177 3.47467 9.5138 3.4769 9.71787C3.47916 9.92228 3.60487 10.1114 3.79201 10.1933L6.7044 11.4617L14.8113 4.2356C14.722 4.19256 14.6173 4.19088 14.526 4.23338Z"
                                  fill="white"/>
                            <path d="M8.25851 12.1386L7.3739 15.9375L14.8112 4.2356L8.25851 12.1386Z" fill="#E5E5E5"/>
                            <path d="M14.8541 4.25989C14.8403 4.25056 14.8259 4.24263 14.8113 4.2356L8.25854 12.1386L13.6988 14.508C14.0296 14.6584 14.4191 14.4217 14.4403 14.0606L14.9994 4.55513C15.0063 4.43802 14.9511 4.32583 14.8541 4.25989Z"
                                  fill="white"/>
                        </svg>
                    </a>

                    <a href="viber://pa?chatURI=goodhelp">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z"
                                  fill="#6F3FAA"/>
                            <path d="M15.7761 6.75569V6.74092C15.642 6.19773 15.292 5.63637 14.8329 5.16364C14.2966 4.6091 13.6136 4.17387 12.9614 4.03296H12.9477C11.0025 3.66024 9.00426 3.66024 7.05908 4.03296H7.04544C5.83408 4.29546 4.51931 5.56137 4.22613 6.74092V6.75569C3.86591 8.39101 3.86591 10.0851 4.22613 11.7205V11.7341C4.43522 12.575 5.16249 13.4591 6.00113 13.9932C6.27501 14.1717 6.57313 14.3098 6.88635 14.4034V15.7193C6.88679 15.8245 6.91854 15.9271 6.97754 16.0142C7.03654 16.1012 7.12012 16.1688 7.21764 16.2081C7.31516 16.2475 7.42219 16.257 7.52509 16.2353C7.62799 16.2136 7.72211 16.1617 7.79544 16.0864L9.12953 14.7C9.41817 14.7159 9.70908 14.725 9.99772 14.725C10.9858 14.7247 11.9716 14.6311 12.942 14.4455H12.9557C14.1636 14.1818 15.4795 12.9159 15.7704 11.7364V11.7227C16.1329 10.0871 16.1348 8.39215 15.7761 6.75569ZM14.7204 11.4773C14.525 12.2466 13.5273 13.2046 12.7329 13.3807C11.7012 13.5783 10.6512 13.664 9.60113 13.6364C9.5909 13.6357 9.58067 13.6375 9.57121 13.6414C9.56176 13.6453 9.55333 13.6514 9.54658 13.6591L8.57272 14.6591L7.53635 15.7216C7.51977 15.7391 7.49832 15.7513 7.47476 15.7565C7.4512 15.7616 7.42663 15.7596 7.40422 15.7507C7.38182 15.7418 7.36261 15.7263 7.34909 15.7063C7.33557 15.6863 7.32836 15.6628 7.3284 15.6386V13.4568C7.32842 13.4393 7.3223 13.4223 7.31109 13.4088C7.29988 13.3953 7.28429 13.3862 7.26703 13.383C7.10136 13.3436 6.94163 13.2825 6.79203 13.2011C6.11703 12.8409 5.43635 12.1023 5.27953 11.4773C4.95472 9.99908 4.95472 8.46798 5.27953 6.98978C5.47385 6.22387 6.47726 5.26819 7.2659 5.09092C9.07187 4.74536 10.927 4.74536 12.7329 5.09092C13.1704 5.18864 13.6704 5.5216 14.0614 5.93069C14.3829 6.26364 14.6295 6.64773 14.7204 6.99319C15.0448 8.47029 15.0448 10.0002 14.7204 11.4773Z"
                                  fill="white"/>
                            <path d="M12.7614 11.591C12.6137 11.9279 12.3599 12.2073 12.0386 12.3865C11.9378 12.4293 11.8332 12.4624 11.7261 12.4853C11.6046 12.449 11.4886 12.424 11.3852 12.3797C10.5238 12.0444 9.72192 11.5729 9.01023 10.9831C8.79883 10.8028 8.60024 10.608 8.41591 10.4001C7.96073 9.87592 7.57848 9.29261 7.27955 8.66602C7.1341 8.36943 7.01137 8.06261 6.88637 7.75693C6.77273 7.47852 6.94091 7.18875 7.11364 6.98079C7.28271 6.78793 7.49068 6.63303 7.72387 6.52625C7.80593 6.48501 7.89983 6.47379 7.98929 6.49455C8.07875 6.51531 8.15813 6.56672 8.21364 6.63988C8.50398 6.96608 8.75988 7.32138 8.97728 7.70011C9.04576 7.81024 9.06921 7.9425 9.04276 8.06946C9.01631 8.19642 8.942 8.30831 8.83523 8.38193C8.77841 8.4217 8.7216 8.46716 8.67273 8.51147C8.62456 8.54715 8.58302 8.59099 8.55 8.64102C8.52151 8.68784 8.50423 8.74061 8.4995 8.79521C8.49477 8.84981 8.50272 8.90477 8.52273 8.95579C8.74205 9.5592 9.075 10.0626 9.57273 10.416C9.74118 10.5351 9.92265 10.6346 10.1136 10.7126C10.2384 10.7804 10.3785 10.8149 10.5205 10.8126C10.7682 10.7831 10.85 10.5092 11.0227 10.3683C11.102 10.3034 11.2001 10.2658 11.3025 10.2611C11.4049 10.2564 11.506 10.2848 11.5909 10.3422C11.775 10.4558 11.9523 10.5842 12.1296 10.7092C12.3049 10.8289 12.4737 10.9578 12.6352 11.0956C12.7108 11.1504 12.7648 11.23 12.7878 11.3205C12.8108 11.411 12.8015 11.5067 12.7614 11.591Z"
                                  fill="white"/>
                            <path d="M10.3261 6.14554H10.1807C10.2273 6.14327 10.2761 6.14554 10.3261 6.14554Z"
                                  fill="white"/>
                            <path d="M12.8409 9.5512C12.7272 9.5512 12.6716 9.45461 12.6636 9.34893C12.6488 9.14098 12.6375 8.93189 12.6091 8.72507C12.56 8.37612 12.4384 8.04131 12.2522 7.74211C12.0609 7.43043 11.8063 7.16237 11.5048 6.95527C11.2034 6.74817 10.8618 6.60664 10.5022 6.53984C10.3386 6.51029 10.1716 6.50348 10.0068 6.48643C9.90225 6.47507 9.76475 6.46825 9.74202 6.3387C9.73862 6.31354 9.74064 6.28795 9.74793 6.26363C9.75521 6.23931 9.76761 6.21682 9.78428 6.19768C9.80095 6.17853 9.82152 6.16316 9.84461 6.1526C9.86769 6.14204 9.89277 6.13653 9.91816 6.13643C9.94541 6.13486 9.97272 6.13486 9.99998 6.13643C10.4967 6.14063 10.9847 6.26727 11.4208 6.50513C11.8568 6.74299 12.2275 7.08473 12.5 7.50007C12.7151 7.83484 12.8611 8.20922 12.9295 8.6012C12.9727 8.84666 12.9886 9.09893 13.0079 9.34893C13.0118 9.37343 13.0104 9.39848 13.0039 9.42241C12.9974 9.44634 12.9858 9.46861 12.97 9.48773C12.9542 9.50686 12.9345 9.52241 12.9123 9.53336C12.89 9.5443 12.8657 9.55038 12.8409 9.5512Z"
                                  fill="white"/>
                            <path d="M12.2261 9.02047C12.2255 9.05422 12.2209 9.08779 12.2125 9.12048C12.2026 9.15333 12.1828 9.18233 12.1558 9.20353C12.1288 9.22473 12.0959 9.2371 12.0617 9.23896C12.0274 9.24083 11.9934 9.23209 11.9642 9.21394C11.9351 9.19579 11.9123 9.16911 11.8989 9.13752C11.8864 9.09163 11.8806 9.04416 11.8818 8.99661C11.8845 8.74244 11.8342 8.4905 11.7341 8.25684C11.7114 8.20684 11.6864 8.1557 11.658 8.10684C11.4953 7.82647 11.2539 7.60005 10.9636 7.4557C10.7885 7.37303 10.6026 7.31564 10.4114 7.28525C10.3273 7.27161 10.2432 7.26366 10.1591 7.25229C10.1372 7.25119 10.1158 7.24562 10.0961 7.23591C10.0765 7.22619 10.059 7.21256 10.0449 7.19583C10.0307 7.17911 10.0201 7.15966 10.0138 7.13869C10.0074 7.11771 10.0054 7.09565 10.008 7.07388C10.008 7.05161 10.0127 7.0296 10.0218 7.00928C10.0309 6.98896 10.0442 6.97081 10.0609 6.956C10.0775 6.94119 10.0971 6.93006 10.1183 6.92336C10.1396 6.91665 10.162 6.9145 10.1841 6.91707C10.5178 6.92994 10.8446 7.01525 11.142 7.16707C11.5052 7.34982 11.8015 7.6425 11.9886 8.00343C12.094 8.21417 12.1647 8.44058 12.1977 8.67388C12.2039 8.70431 12.2084 8.73503 12.2114 8.76593C12.217 8.83411 12.2193 8.90229 12.225 8.98638C12.225 8.99434 12.2261 9.00457 12.2261 9.02047Z"
                                  fill="white"/>
                            <path d="M11.4477 8.86353C11.4413 8.89234 11.4264 8.91856 11.4049 8.93882C11.3834 8.95907 11.3564 8.97243 11.3273 8.97717H11.3023C11.265 8.97958 11.228 8.96979 11.1969 8.94929C11.1657 8.92878 11.1421 8.89868 11.1295 8.86353C11.1225 8.8449 11.1179 8.82541 11.1159 8.80558C11.1099 8.72911 11.0985 8.65316 11.0818 8.57831C11.048 8.42677 10.9619 8.29198 10.8386 8.19763C10.779 8.15483 10.7125 8.12254 10.642 8.10217C10.5523 8.07604 10.4579 8.08285 10.3693 8.06126C10.3255 8.0535 10.2865 8.02869 10.261 7.99227C10.2354 7.95585 10.2253 7.91078 10.2329 7.86694C10.2414 7.82495 10.2649 7.78748 10.299 7.76154C10.3331 7.7356 10.3754 7.72298 10.4182 7.72603C10.9386 7.76353 11.3273 8.01353 11.4273 8.57149C11.4375 8.62329 11.4448 8.67565 11.4488 8.72831C11.4552 8.77319 11.4548 8.81877 11.4477 8.86353Z"
                                  fill="white"/>
                        </svg>
                    </a>

{#                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                        <path d="M10.0025 0H9.9975C4.48375 0 0 4.485 0 10C0 12.1875 0.705 14.215 1.90375 15.8612L0.6575 19.5763L4.50125 18.3475C6.0825 19.395 7.96875 20 10.0025 20C15.5162 20 20 15.5138 20 10C20 4.48625 15.5162 0 10.0025 0Z"#}
{#                              fill="#4CAF50"/>#}
{#                        <path d="M15.8212 14.1212C15.5799 14.8025 14.6224 15.3675 13.8587 15.5325C13.3362 15.6437 12.6537 15.7325 10.3562 14.78C7.41741 13.5625 5.52491 10.5762 5.37741 10.3825C5.23616 10.1887 4.18991 8.80123 4.18991 7.36623C4.18991 5.93123 4.91866 5.23248 5.21241 4.93248C5.45366 4.68623 5.85241 4.57373 6.23491 4.57373C6.35866 4.57373 6.46991 4.57998 6.56991 4.58498C6.86366 4.59748 7.01116 4.61498 7.20491 5.07873C7.44616 5.65998 8.03366 7.09498 8.10366 7.24248C8.17491 7.38998 8.24616 7.58998 8.14616 7.78373C8.05241 7.98373 7.96991 8.07248 7.82241 8.24248C7.67491 8.41248 7.53491 8.54248 7.38741 8.72498C7.25241 8.88373 7.09991 9.05373 7.26991 9.34748C7.43991 9.63498 8.02741 10.5937 8.89241 11.3637C10.0087 12.3575 10.9137 12.675 11.2374 12.81C11.4787 12.91 11.7662 12.8862 11.9424 12.6987C12.1662 12.4575 12.4424 12.0575 12.7237 11.6637C12.9237 11.3812 13.1762 11.3462 13.4412 11.4462C13.7112 11.54 15.1399 12.2462 15.4337 12.3925C15.7274 12.54 15.9212 12.61 15.9924 12.7337C16.0624 12.8575 16.0624 13.4387 15.8212 14.1212Z"#}
{#                              fill="#FAFAFA"/>#}
{#                    </svg>#}
                </div>
            </div>


            <div class="gh-footer__block-section">
                <div class="gh-footer__block-section-subheader">
                    {{ 'We_in_social'|trans }}
                </div>
                <div class="gh-footer__social-icons-row">
                    <a href="https://www.instagram.com/goodhelp.ua/">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4812 0H5.50346C2.44427 0 0 2.44427 0 5.50346V14.4965C0 17.5404 2.44427 20 5.50346 20H14.4965C17.5404 20 20 17.5557 20 14.4965V5.50346C19.9846 2.44427 17.5404 0 14.4812 0ZM18.2321 13.6972C18.2321 16.1875 16.2029 18.2475 13.6818 18.2475H6.30284C3.81245 18.2475 1.7525 16.2183 1.7525 13.6972V6.30284C1.7525 3.81245 3.78171 1.7525 6.30284 1.7525H13.7279C16.2183 1.7525 18.2782 3.78171 18.2782 6.30284V13.6972H18.2321Z"
                                  fill="#EF9665"/>
                            <path d="M13.6343 6.39493L13.5882 6.34881L13.542 6.30269C12.5889 5.34958 11.313 4.8269 9.99093 4.8269C7.16234 4.84228 4.87179 7.16357 4.88716 9.99216C4.88716 11.3603 5.44058 12.667 6.3937 13.6355C7.34681 14.604 8.63812 15.142 9.99093 15.142C12.8349 15.0959 15.1101 12.7131 15.064 9.83843C15.0332 8.56249 14.5413 7.3173 13.6343 6.39493ZM9.99093 13.3895C8.11545 13.4203 6.59354 11.9138 6.5628 10.0383C6.53205 8.1628 8.03858 6.64089 9.91406 6.61015C11.7895 6.5794 13.3115 8.08594 13.3422 9.96142V10.0075C13.3422 11.8369 11.8357 13.3588 9.99093 13.3895Z"
                                  fill="#EF9665"/>
                            <path d="M16.5876 4.59628C16.5876 5.27268 16.065 5.8261 15.3886 5.8261C15.0657 5.8261 14.7583 5.70312 14.5431 5.47253C14.0665 4.99597 14.0665 4.19659 14.5738 3.72003C14.8044 3.48944 15.0965 3.36646 15.4193 3.36646C15.696 3.36646 15.9727 3.47406 16.1879 3.64317L16.2187 3.67391C16.2648 3.70466 16.2956 3.75077 16.3263 3.78152L16.357 3.81227C16.48 4.02748 16.5876 4.3042 16.5876 4.59628Z"
                                  fill="#EF9665"/>
                        </svg>
                    </a>
                    <a href="https://www.facebook.com/goodhelpua">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.896 2.26231e-08H1.10303C0.493774 0.000366235 -0.000122048 0.494507 2.26231e-08 1.104V18.897C0.000366235 19.5062 0.494507 20.0001 1.104 20H10.6836V12.2656H8.08594V9.23828H10.6836V7.01038C10.6836 4.42676 12.2609 3.02051 14.5656 3.02051C15.6694 3.02051 16.618 3.10278 16.8945 3.13953V5.83984H15.3053C14.0514 5.83984 13.8086 6.43567 13.8086 7.31018V9.23828H16.8066L16.416 12.2656H13.8086V20H18.896C19.5056 20.0001 19.9999 19.5061 20 18.8965C20 18.8964 20 18.8962 20 18.896V1.10303C19.9998 0.493774 19.5055 -0.000122048 18.896 2.26231e-08Z"
                                  fill="#EF9665"/>
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/company/goodhelpua/">
                        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_1058)">
                                <path d="M4.89355 6.25H0.421051V20H4.89355V6.25Z" fill="#EF9665"/>
                                <path d="M17.0761 6.41125C17.0286 6.39625 16.9836 6.38 16.9336 6.36625C16.8736 6.3525 16.8136 6.34125 16.7523 6.33125C16.5148 6.28375 16.2548 6.25 15.9498 6.25C13.3423 6.25 11.6886 8.14625 11.1436 8.87875V6.25H6.67105V20H11.1436V12.5C11.1436 12.5 14.5236 7.7925 15.9498 11.25C15.9498 14.3363 15.9498 20 15.9498 20H20.4211V10.7212C20.4211 8.64375 18.9973 6.9125 17.0761 6.41125Z"
                                      fill="#EF9665"/>
                                <path d="M2.60855 4.375C3.81667 4.375 4.79605 3.39562 4.79605 2.1875C4.79605 0.979377 3.81667 0 2.60855 0C1.40043 0 0.421051 0.979377 0.421051 2.1875C0.421051 3.39562 1.40043 4.375 2.60855 4.375Z"
                                      fill="#EF9665"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_1_1058">
                                    <rect width="20" height="20" fill="white" transform="translate(0.421051)"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="gh-footer__copyright">
        © 2022 GoodHelp
    </div>
</footer>