<!DOCTYPE html>
<html lang="en">
<head>
    <base href="">
    <meta charset="utf-8"/>
    <title>{% block page_title %}Staff{% endblock %}</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

    <link href="{{ asset('style.bundle.css', 'staff') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('plugins.bundle.css', 'staff') }}" rel="stylesheet" type="text/css"/>

</head>
<body class="kt-demo-panel--right kt-header-mobile--fixed kt-page-content-white kt-subheader--enabled kt-aside--secondary-enabled kt-offcanvas-panel--left kt-aside--left kt-page--loading">
<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
        <a href="index.html">
            <img alt="Logo" src="assets/media/logos/logo-6.png"/>
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toggler kt-header-mobile__toggler--left" id="kt_aside_mobile_toggler">
            <span></span></button>
    </div>
</div>
<div class="kt-grid kt-grid--hor kt-grid--root">

    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

        <button class="kt-aside-close kt-hidden " id="kt_aside_close_btn"><i class="la la-close"></i></button>
        <div class="kt-aside  kt-grid__item kt-grid kt-grid--ver" id="kt_aside">


            {% block sidebarPrimary %}
                {% include '@staff/layout/_sidebar-primary.html.twig' %}
            {% endblock %}

            {% block sidebarSecondary %}
                {% include '@staff/layout/_sidebar-secondary.html.twig' %}
            {% endblock %}

        </div>


        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                <div class="kt-container  kt-container--fluid ">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            {% block subheaderTitle %}
                                Что-то напишем
                            {% endblock %}
                        </h3>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <a href="" class="btn btn-brand">One</a>
                            <a href="" class="btn btn-brand">One</a>
                            <a href="" class="btn btn-brand">One</a>
                            <a href="" class="btn btn-brand">One</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">


                    {% block content %}
                    {% endblock %}


                </div>

            </div>

            <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
                <div class="kt-container  kt-container--fluid ">
                    <div class="kt-footer__copyright">
                        2021&nbsp;©&nbsp;<a href="/" target="_blank" class="kt-link">goodhelp</a>
                    </div>
                    <div>
                        Ссылки на соц сети
                    </div>
                    <div class="kt-footer__menu">
                        <a href="http://keenthemes.com/keen" target="_blank" class="kt-footer__menu-link kt-link">Ссылка 1</a>
                        <a href="http://keenthemes.com/keen" target="_blank" class="kt-footer__menu-link kt-link">Ссылка 2</a>
                        <a href="http://keenthemes.com/keen" target="_blank" class="kt-footer__menu-link kt-link">Ссылка 3</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#3699ff",
                "metal": "#c4c5d6",
                "light": "#ffffff",
                "accent": "#00c5dc",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995",
                "focus": "#9816f4"
            },
            "base": {
                "label": [
                    "#c5cbe3",
                    "#a1a8c3",
                    "#3d4465",
                    "#3e4466"
                ],
                "shape": [
                    "#f0f3ff",
                    "#d9dffa",
                    "#afb4d4",
                    "#646c9a"
                ]
            }
        }
    };
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="{{ asset('plugins.bundle.js', 'staff') }}"></script>
<script src="{{ asset('style.bundle.js', 'staff') }}"></script>
<script src="{{ asset('scripts.bundle.js', 'staff') }}"></script>
</body>
</html>