{% extends '@landing/layout/main.html.twig' %}

{% block page_title %}
    {{ 'Семейный психолог. Системный расстановщик'|trans }}. GoodHelp
    - {{ psihologProfile.fullName|trans }}
{% endblock %}

{% block content %}
    <div class="profile">
        <div class="container-lg pt-md-5 pt-sm-4 pt-3" style="max-width: 1140px">
            <div class="row">
                <div class="col-sm-5">
                    {% include '@landing/pages/psiholog-profile-photo-carousel/' ~ psihologProfile.profileTemplate ~ '.html.twig' %}
                </div>
                <div class="col-sm-7">
                    {% include '@landing/partials/psiholog-profile/_name-and-price.html.twig' with {
                        name: psihologProfile.fullName,
                        price: priceIndividual.price,
                        currency: 'грн'
                    } %}

                    {% include '@landing/partials/psiholog-profile/_book-consultation-btn.html.twig' %}

                    {% include '@landing/partials/psiholog-profile/_experience.html.twig' with {
                        title: "Работаю с клиентами %years% лет"|trans({"%years%": 5}),
                    } %}
                    {% include '@landing/partials/psiholog-profile/_specializations.html.twig' with {
                        specializations: [
                            'Семейная терапия',
                            'Межличностные отношения',
                            'Психосоматика',
                            'Работа с эмоциональной травмой',
                            'Системно-семейные расстановки',
                        ]
                    } %}

                    {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                        title: "С чем я работаю лучше всего",
                        list: [
                            "Эмоциональные травмы.",
                        ]
                    } %}

                    {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                        title: "Принципы работы, которые я использую",
                        iconClass: 'fa-shield-alt',
                        list: [
                            "Бережность.",
                            "Конфиденциальность.",
                            "Индивидуальность.",
                        ]
                    } %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="card text-center">
                        <div class="card-header">
                            {% include '@landing/partials/psiholog-profile/_tabs.html.twig' %}
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="about-psiholog" role="tabpanel"
                                     aria-labelledby="about-psiholog-tab">


                                    {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                                        title: "С какими клиентами и запросами я работаю:",
                                        iconClass: 'fa-plus',
                                        cardClass: ' border-0 text-start',
                                        cardTextClass: '  mt-3 ms-1',
                                        list: [
                                            'Мужчины и женщины, у которых сложности во взаимоотношениях с близкими. ',
                                            'Женщины, которые находятся в разрушительных отношениях или переживают домашнее насилие.',
                                            'Люди, которые хотят найти партнера, построить здоровые отношения или создать семью.',
                                            'Женщины с вопросами одиночества, отсутствия уверенности в себе, реализации.',
                                            'Мужчины и женщины, которые переживают кризис, депрессию, потерю, разрыв отношений.',
                                            'Люди с вопросами веры, разочарования в себе, в Боге, в церкви, в жизни.',
                                        ]
                                    } %}

                                    {% include '@landing/partials/psiholog-profile/_list-card.html.twig' with {
                                        title: "С какими клиентами и запросами я не работаю:",
                                        iconClass: 'fa-minus',
                                        cardClass: ' border-0 text-start',
                                        cardTextClass: '  mt-3 ms-1',
                                        list: [
                                            'Я не работаю с химически зависимыми людьми, и людьми с психиатрическими диагнозами. ',
                                            'Не работаю с детьми до 14 лет.',
                                        ]
                                    } %}

                                    <hr>

                                    <div class="accordion accordion-flush" id="accordionExample">
                                        {% set accordionItemNumber = 0 %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Почему стоит обратиться именно ко мне",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'Я сочетаю в своей работе разные подходы, техники и методики, что помогает получить наилучший результат в терапии.',
                                                'Я имею опыт работы и положительные полученные результаты в терапии у моих клиентов.',
                                                'Я постоянно прохожу обучение у известных тренеров и психотерапевтов, что помогает мне приобретать новые знания.',
                                                'Я имею опыт семейной жизни и развода. У меня есть сын 10 лет.',
                                            ]
                                        } %}


                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Базовое психологическое образование",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'Криворожский педагогический университет.',
                                            ]
                                        } %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Где я обучалась психотерапии",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'МГИ. Тренеры: Шепель В., Шапран В.',
                                                '«Системные семейные расстановки» Тренеры: Голованова Е., Закаблук Т., Крахмалюк Г., Коломбет И.',
                                            ]
                                        } %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Дополнительное образование (тренинги, курсы, лекции)",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'Курс повышения квалификации для ведущих групп при Украинской Ассоциации Расстановщиков Украины. Святозарова С., Закаблук Т., Коломбет И.',
                                                'Theta Healing Institute of Knowledge (THInK™). Метод тета-исцеления.',
                                                'Международная тренинговая компания «Основа». Системно-семейная арт-терапия.',
                                            ]
                                        } %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% include '@landing/partials/psiholog-profile/_accordion-item-list.html.twig' with {
                                            buttonTitle: "Методы и подходы, которые использую",
                                            itemNumber: accordionItemNumber,
                                            list: [
                                                'Методы гештальт-терапии.',
                                                'Расстановочные техники.',
                                                'Арт-терапия.',
                                                'Работа с метафорическими картами.',
                                                'Работа с телом.',
                                            ]
                                        } %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% embed '@landing/partials/psiholog-profile/_accordion-item-card.html.twig' with {
                                            buttonTitle: "Как и почему я стала психологом",
                                            itemNumber: accordionItemNumber,
                                        } %}
                                            {% block cardText %}
                                                {{ 'valentina_dovbysh_how_i_became_psi'|trans|raw }}
                                            {% endblock %}
                                        {% endembed %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% embed '@landing/partials/psiholog-profile/_accordion-item-card.html.twig' with {
                                            buttonTitle: "Кратко обо мне как о личности",
                                            itemNumber: accordionItemNumber,
                                        } %}
                                            {% block cardText %}
                                                {{ 'valentina_dovbysh_about'|trans|raw }}
                                            {% endblock %}
                                        {% endembed %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% embed '@landing/partials/psiholog-profile/_accordion-item.html.twig' with {
                                            buttonTitle: "Сколько нужно встреч для решения моей проблемы?",
                                            itemNumber: accordionItemNumber,
                                        } %}
                                            {% block body %}
                                                {% include '@landing/partials/psiholog-profile/_what-can-i-get-for-n-consultations.html.twig' %}
                                            {% endblock %}
                                        {% endembed %}

                                        {% set accordionItemNumber = accordionItemNumber + 1 %}
                                        {% embed '@landing/partials/psiholog-profile/_accordion-item.html.twig' with {
                                            buttonTitle: "Языки на которых консультирую",
                                            itemNumber: accordionItemNumber,
                                        } %}
                                            {% block body %}
                                                {{ 'Украинский и русский.'|trans }}
                                            {% endblock %}
                                        {% endembed %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="psiholog-reviews" role="tabpanel"
                                     aria-labelledby="psiholog-reviews-tab">
                                    {% include '@landing/partials/psiholog-profile/_reviews.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include '@landing/partials/psiholog-profile/_failed-to-book.html.twig' %}

            <div class="row">
                <div class="col-12">
                    {% include '@landing/partials/psiholog-profile/_book-consultation.html.twig' with {schedule: schedule} %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}